.answer{
    color: red;
    width: auto;
    text-align: left;
    margin: auto;
    padding-left: 88px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.correct{
    color: green 
}

.results {
    margin: auto;
    margin-top: 5%;
}

.results-title, .result-button {
    width: auto;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}